<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<title>Home</title>
	<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">

	<div class="row">
		<h2>Update Rating</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/rating/update/{id}(id=${rating.id})}" th:object="${rating}" method="post" class="form-horizontal" style="width: 100%">
			<!--
			TODO: Create a form to edit the values of Rating, there are 2 buttons: Update data and Cancel to the Rating
			 -->

			<input type="hidden" th:field="*{id}" id="id">

			<div class="form-group">
				<label for="moodys_rating" class="col-sm-2 control-label">MoodysRating</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{moodysRating}" id="moodys_rating" placeholder="moodysRating" class="col-4">
					<p class="text-danger" th:if="${#fields.hasErrors('moodysRating')}" th:errors="*{moodys_rating}"></p>
				</div>
			</div>
			<div class="form-group">
				<label for="sandprating" class="col-sm-2 control-label">SandPRating</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{sandPRating}" id="sandprating" placeholder="sandPRating" class="col-4">
					<p class="text-danger" th:if="${#fields.hasErrors('sandPRating')}" th:errors="*{sandprating}"></p>
				</div>
			</div>
			<div class="form-group">
				<label for="fitch_rating" class="col-sm-2 control-label">FitchRating</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{fitchRating}" id="fitch_rating" placeholder="fitchRating" class="col-4">
					<p class="text-danger" th:if="${#fields.hasErrors('fitchRating')}" th:errors="*{fitch_rating}"></p>
				</div>
			</div>

			<div class="form-group">
				<label for="order_number" class="col-sm-2 control-label">order_number</label>
				<div class="col-sm-10">
					<input type="number" th:field="*{orderNumber}" id="order_number" placeholder="orderNumber" class="col-4">
					<p class="text-danger" th:if="${#fields.hasErrors('orderNumber')}" th:errors="*{order_number}"></p>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-12">
					<a class="btn btn-danger btn-sm" href="/rating/list">Cancel</a>
					<input class="btn btn-primary btn-sm" type="submit" value="Add list">
				</div>
			</div>

		</form>
	</div>

</div>
</body>
</html>